

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    color: rgb(54, 94, 109);

}
.nav-ul {
    margin: 0 auto;
    list-style:none;
}
 .list {
     display: inline-block;
     color:rgb(54, 94, 109); 
     margin:0 2rem;
 }
 @media (max-width: 750px) {
     .welcome {
         font-size: 2rem;
     }
     .list {
         margin: 0 1rem;
     }
 }